* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

.wrapper{
    width: 80vw;
    max-width: 90rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.slider-wrapper{
    position: relative;
    width: 90%;
    margin: 7.5rem auto 0;
    overflow: hidden;
}

.slider-inner{
    width: 400%;
    position: relative;
    left: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: left 0.4s ease;
}

.slide-image{
    float: left;
    position: relative;
    display: block;
    width: 25%;
    object-fit: cover;
}

input[type=radio]{
    display: none;
}

.controls-and-text-wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}

.slider-controls{
    width: 30%;
    display: flex;
    justify-content: right;
}

.slider-text-wrapper{
    position: relative;
    min-height: 2rem;
    width: 70%;
    overflow: hidden;
}

.slider-text-inner{
    left: 100%;
    position: relative;
    width: 400%;
    min-height: 2rem;
    transition: left 0.3s ease;
}

.slide-text{
    float: left;
    box-sizing: border-box;
    width: 25%;
    font-size: 2.2rem;
    line-height: 2.5rem;
    padding-left: 0.6rem;
}

.slide-point{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 0.5rem;
    cursor: pointer;
}

.slide-point:hover{
    background-color: white;
}

#slide-point-1:checked~.controls-and-text-wrapper .slider-text-wrapper .slider-text-inner{
    left: 0;
}

#slide-point-2:checked~.controls-and-text-wrapper .slider-text-wrapper .slider-text-inner{
    left: -100%;
}

#slide-point-3:checked~.controls-and-text-wrapper .slider-text-wrapper .slider-text-inner{
    left: -200%
}

#slide-point-4:checked~.controls-and-text-wrapper .slider-text-wrapper .slider-text-inner{
    left: -300%;
}

#slide-point-1:checked~.slider-wrapper .slider-inner{
    left: 0;
}

#slide-point-2:checked~.slider-wrapper .slider-inner{
    left: -100%;
}

#slide-point-3:checked~.slider-wrapper .slider-inner{
    left: -200%
}

#slide-point-4:checked~.slider-wrapper .slider-inner{
    left: -300%;
}

#slide-point-1:checked~.controls-and-text-wrapper .slider-controls .slide-point-1,
#slide-point-2:checked~.controls-and-text-wrapper .slider-controls .slide-point-2,
#slide-point-3:checked~.controls-and-text-wrapper .slider-controls .slide-point-3,
#slide-point-4:checked~.controls-and-text-wrapper .slider-controls .slide-point-4{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 4px solid aqua;
    box-sizing: border-box;
    background-color: transparent;
    cursor: auto;
}

@media (max-width: 1024px) {
    .slide-text{
        font-size: 1.5rem;
        line-height: 1.7rem;
    }

    .slide-point{
        width: 2.2rem;
        height: 2.2rem;
    }
}

@media (max-width: 768px) {
    .controls-and-text-wrapper{
        flex-direction: column-reverse;
    }

    .slider-text-wrapper{
        width: 100%;
    }

    .slider-controls{
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .slide-text{
        padding-left: 0;
        text-align: center;
    }

    .slide-point{
        width: 1.7rem;
        height: 1.7rem;
    }
}